---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Import partials from `sass_dir` (defaults to `_sass`)
@import "pygments";
@charset "utf-8";

$spacing-unit: 20px;

// Colours
$grey: #444;
$grey-light: lighten($grey, 30%);
$grey-dark: darken($grey, 25%);
$yellow-light: lighten(yellow, 40%);

// Width of the content area
$content-width: 800px;
$on-laptop: 750px;
$on-palm: 600px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

/* Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
    line-height: 100%;
}

/* Site header */
header {
}

.page-content {
    margin-top: $spacing-unit*2;
    @include media-query($on-palm) {
        margin-top: $spacing-unit;
    }
}

/* Page content */
.post-list {
    margin-left: 0;
    list-style: none;
    > li {
        margin-bottom: $spacing-unit;
    }
}

/* Posts */
.post-link {
    time {
        font-size: small;
        display: block;
    }
    a {
    }
}

.post-meta {
    margin-bottom: $spacing-unit;
    color: $grey;
    font-size: smaller;
}

.post-content {
    margin-bottom: $spacing-unit*2;
}

.site-footer {
    color: $grey;
    margin-bottom: $spacing-unit;
}

/* Basic styling */
body {
    background-color: white;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    font-size: 16px;
}

::-webkit-scrollbar              { padding-top: $spacing-unit; background-color: #fff; height: 5px;}
::-webkit-scrollbar-button       { }
::-webkit-scrollbar-track        { background-color: #ccc; }
::-webkit-scrollbar-track-piece  { }
::-webkit-scrollbar-thumb        { background-color: #ddd; }
::-webkit-scrollbar-corner       { }
::-webkit-resizer                { }

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', 'Garamond', 'Georgia', 'serif';
    font-weight: normal;
    color: #444;
}

h1.page-title {
    margin-bottom: $spacing-unit;
    font-size: 180%;
}

h1:not(.page-title) {
    margin-top: $spacing-unit*1.5;
    margin-bottom: $spacing-unit;
    font-size: 150%;
}

h2 {
    margin: $spacing-unit*1.5 0 $spacing-unit 0;
    font-size: 130%;
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 1px dotted;
    &:hover {
        color: orange;
    }
}

p, blockquote, ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit;
}

p, ul, ol, .post-meta {
    font-family: 'Noto Serif', 'Georgia', 'serif';
}

p, ul, ol {
    color: #3E4349;
    line-height: 160%;
}

@media screen and (min-width: 751px) {
    p, #contents {
        font-size: 110%;
    }
}

/* Lists */
ul, ol {
    margin-left: $spacing-unit;
}

/* Images */
img {
    max-width: 100%;
    vertical-align: middle;
}

/* Code formatting */
pre, code {
    font-family: 'Droid Sans Mono', monospace;
}

code {
}

pre {
    border-radius: 3px;
    overflow-x: auto;
    background-color: #eee;
    line-height: 140%;
    margin-bottom: 20px;
    padding: 10px 10px;
    padding-left: 0.7em;
}

@media screen and (min-width: 751px) {
    pre {
        padding: 10px 20px;
        font-size: 95%;
    }
}

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
    margin-bottom: $spacing-unit;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    }
    @extend %clearfix;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @include media-query($on-palm) {
        padding-right: 15px;
        padding-left: 15px;
    }
}

/* Clearfix */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/* Icons */
.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        path {
            fill: $grey;
        }
    }
}

.wide-logos {
    float: right;
    margin-left: $spacing-unit;
    @include media-query($on-palm) {
        margin-left: 0;
        float: none;
        display: block;
        text-align: center;
        margin-bottom: $spacing-unit;
    }
}

table {

    border-collapse: collapse;
    margin-bottom: $spacing-unit;

    th, td {
        text-align: left;
        padding: $spacing-unit/1.5 $spacing-unit;
        border: 1px solid blue;
    }

    th {
        background-color: blue;
        color: white;
    }

}
