---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Import partials from `sass_dir` (defaults to `_sass`)
@import "pygments";
@charset "utf-8";

$space: 20px;
$paragraph-line-height: 160%;

// Colours
$grey: #444;
$grey-light: lighten($grey, 30%);
$grey-dark: darken($grey, 25%);
$yellow-light: lighten(yellow, 40%);

// Width of the content area
$content-width: 800px;
$on-laptop: 750px;
$on-palm: 600px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

/* Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
    line-height: 100%;
}

/* Site header */
header {
    padding-top: $space * 2;
    padding-bottom: $space * 2;
    margin-bottom: $space * 2;
    background-color: #0096FF;
    color: white;
    font-size: 1.5em;
    text-align: center;
}

/* Page content */
.post-list {
    margin-left: 0;
    list-style: none;
    > li {
        margin-bottom: $space;
    }
}

/* Posts */
.post-link {
    time {
        font-size: small;
        display: block;
    }
}

.post-meta {
    font-size: smaller;
    a { color: grey; }
    margin-bottom: $space * 1.5;
}

.post-content {
    margin-bottom: $space * 2;
}

.post-filter {
    font-size: smaller;
    margin-bottom: $space * 1.5;
}

.site-footer {
    font-size: smaller;
    margin-bottom: $space * 2;
}

.links {
    font-size: smaller;
    margin-bottom: $space;
}

body {
    background-color: #fcfcfc;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,h2,h3 {
    /* Because sometimes the h is a link which changes its color */
    color: black;
}

h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: $space * 0.5;
}

h2 {
    margin: $space * 1.5 0 $space 0;
    font-size: 20px;
    font-weight: 500;
}

h3 {
    margin: $space * 1.5 0 $space 0;
    font-size: 16px;
    font-weight: 500;
}

a {
    color: #0365d6;
    text-decoration: none;
    border-bottom: 1px dotted #0096ff;
    &:hover { color: orange; }
}

p {
    margin-bottom: $space * 0.8;
}

blockquote, ul, ol, dl, figure, %vertical-rhythm {
    margin-bottom: $space;
}

p, ul, ol {
    color: #3E4349;
    line-height: $paragraph-line-height;
}

@media screen and (min-width: 751px) {
    p, #contents {
    }
}

/* Lists */
ul, ol {
    margin-left: $space;
}

/* Images */
img {
    max-width: 100%;
    vertical-align: middle;
}

/* Code formatting */
pre, code {
    font-family: 'Droid Sans Mono', monospace;
    font-size: 95%;
    margin-top: $space;
    margin-bottom: $space;
}

pre, blockquote {
    border-radius: 3px;
    overflow-x: auto;
    background-color: #eee;
    line-height: 150%;
    padding: $space/2 15px;
}

blockquote {
    font-style: italic;
    font-family: Georgia, serif;

    p {
        padding-left: $space;
    }

    p:last-child {
        margin: 0;
    }

    p:first-child:before {
        content: "\201C";
        font-size: 60px;
        position: relative;
        top: 10px;
        line-height: 100%;
        color: #7a7a7a;
    }
}

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
    margin-bottom: $space;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$space} * 2));
    max-width:         calc(#{$content-width} - (#{$space} * 2));
    margin-right: auto;
    margin-left: auto;
    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$space}));
        max-width:         calc(#{$content-width} - (#{$space}));
    }
    @extend %clearfix;
    padding-right: $space * 2;
    padding-left: $space * 2;
    @include media-query($on-palm) {
        padding-right: $space;
        padding-left: $space;
    }
}

/* Clearfix */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/* Icons */
.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        path {
            fill: $grey;
        }
    }
}

.wide-logos {
    float: right;
    margin-left: $space;
    @include media-query($on-palm) {
        /* It's not wide enough to show these */
        display: none;
    }
}

table {

    border-collapse: collapse;
    margin-bottom: $space;

    th, td {
        text-align: left;
        padding: $space/1.5 $space;
        border: 1px solid blue;
    }

    th {
        background-color: blue;
        color: white;
    }

}
