---
layout: default
---
<div id="home">

    <h1 class="page-title">Beau Barker</h1>

    <p>
        Writing about things that interest me. You can also find me on <a
            href="https://twitter.com/bbmelb">Twitter</a> and <a
            href="https://github.com/bcb">Github</a>.
    </p>

    {% for collection in site.collections %}
    {% unless collection.label == 'posts' %}
    <h1>{{ collection.title }}</h2>
    <ul>
        {% for page in collection.docs %}
        <li>
            <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endunless %}
    {% endfor %}

    <h1>Uncategorised</h1>
    <ul>
    {% for post in site.posts %}
        <li class="post-link">
            <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
    {% endfor %}
    </ul>

</div>
