/**
 * Site header
 */
.site-header {
    background-color: #39f;
    border-bottom: 1px solid $grey-color-dark;
    margin-bottom: $spacing-unit*1.5;
    @include media-query($on-palm) {
        margin-bottom: $spacing-unit;
    }
}

.site-title {
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -1px;
    float: left;

    &,
    &:visited {
        color: white;
    }
}

.site-nav {
    display: none;
}



/**
 * Page content
 */
.page-content {
}

.page-heading {
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    a {
        color: $grey-color;
        text-decoration: underline;
    }
}

.post-link {
    display: block;
    font-size: 1.2em;
    line-height: 1.6em;
}



/**
 * Posts
 */
.post-header {

    .post-title {
        font-size: 42px;
        color: $page-title-color;
        margin-bottom: $spacing-unit;
        letter-spacing: -1px;

        @include media-query($on-laptop) {
            font-size: 36px;
        }
    }

}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
        margin-top: $spacing-unit;
        margin-bottom: $spacing-unit/2;
        font-size: $h1-size;
        color: $h1-color;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h2 {
        margin-top: $spacing-unit;
        margin-bottom: $spacing-unit/2;
        font-size: $h2-size;
        color: $h2-color;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }
}

#home {
    ul {
        list-style-type: none;
        margin: 0 0 $spacing-unit;
        padding: 0;
    }
}

/**
 * Site footer
 */
.site-footer {
}
