---
layout: page
---
<img src="/assets/{{page.subcategory}}.png" align="right"/>

<h2 class="page-title">{{page.title}}</h1>

<ul class="post-list">
    {% assign posts = site.posts |sort: 'date' |reverse %}
    {% for post in posts %}
        {% if post.category == page.subcategory %}
            <li class="post-link">
                <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
