---
layout: all
---
<header>
    <a href="/"><h1 class="post-title">Beau Barker</h1></a>

    <div class="links">
        <a href="https://linkedin.com/in/beaub">Linkedin</a> |
        <a href="https://github.com/bcb">Github</a> |
        <a href="mailto:beauinmelbourne@gmail.com">beauinmelbourne@gmail.com</a>
    </div>

    <div class="post-filter">
        Filter by
        <a href="/">All</a> ({{ site.posts |size }}),
        <a href="/python/">Python</a> ({{ site.categories.python |size }}),
        <a href="/jsonrpc/">JSON-RPC</a> ({{ site.categories.jsonrpc |size }}),
        <a href="/airflow/">Airflow</a> ({{ site.categories.airflow |size }})
    </div>
</header>

<article class="post">
    <div class="post-content">
        {{ content }}
    </div>
</article>
