---
layout: all
---
<header>

    <a href="/"><h1 class="post-title">Beau Barker</h1></a>

    <p>
        Developer at nbn. Find me on
            <a href="https://twitter.com/bbmelb">Twitter</a>,
            <a href="https://github.com/bcb">Github</a>, or
            <a href="mailto:beauinmelbourne@gmail.com">email</a>.
    </p>

    <p style="font-size: smaller">
        Filter by
        <a href="/">All</a>,
        <a href="/python/">Python</a>,
        <a href="/jsonrpc/">JSON-RPC</a>,
        <a href="/airflow/">Airflow</a>
    </p>

</header>

<article class="post">
    <div class="post-content">
        {{ content }}
    </div>
</article>
