---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "pygments";
@charset "utf-8";

$space: 20px;
$content-width: 850px;
$on-palm: 600px;
$color: hsl(266, 100, 32); // rgb(71, 0, 163);

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

/* Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
    color: rgb(41, 41, 41);
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 21px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: normal;
    letter-spacing: -0.06300000101327896px;
    line-height: 32px;
}

body {
    background-color: #fefefe;
}

#socials {
    display: none;
    height: 35px;
    background-color: rgb(57, 0, 130);
}

nav {
    height: 71px;
    margin-bottom: $space;
    background-color: $color;
    box-shadow: 0 5px 5px -2px gray;
    text-align: center;
    .logo {
        white-space: nowrap;
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        img {
            vertical-align: middle;
            height: 40px;
        }
    }
}

.page-title {
    text-align: center;
}

.post-filter {
    font-size: smaller;
    text-align: center;
    margin: 0 $space $space $space;
}

.post-list {
    h1 {
        text-align: center;
    }

    ul {
        margin: 0;
        list-style: none;
        text-align: center;
        > li {
            margin-bottom: $space;
            a {
                display: inline-block;
                font-size: 1.2em;
                margin-bottom: 3px;
            }
            .meta {
                font-size: smaller;
            }
        }
    }

    table {
        border-collapse: collapse;
        padding: 0;

        td {
            padding-bottom: 10px;
            vertical-align: top;
        }

        td.date {
            text-align: right;
            font-size: 0.9em;
            white-space: nowrap;
        }
        td span {
            padding-right: $space / 2;
        }

        td.title {
        }
    }
}

hr {
    border-top: 1px solid #eee;
    margin: $space/2 auto $space;
}

article {

    header {
        h1 {
            font-family: fell, Georgia, Cambria, "Times New Roman", Times, serif;
            font-size: 40px;
            font-style: normal;
            font-weight: normal;
            letter-spacing: -0.527999997138977px;
            line-height: 130%;
            margin-top: $space * 2;
            margin-bottom: $space / 2;

            @include media-query($on-palm) {
                margin-top: $space * 1.5;
                font-size: 32px;
                line-height: 40px;
            }
        }

        .post-meta {
            font-size: smaller;
            color: #666;
            a { color: #666; text-decoration: none; }
            margin-bottom: $space * 1.5;
            @include media-query($on-palm) {
                margin-bottom: $space;
            }
        }
    }

    h2 {
        margin: $space * 1.5 0 $space 0;
        font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: normal;
        line-height: 28px;
    }

    h3 {
        margin: $space * 1.5 0 $space 0;
        font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: normal;
        line-height: 22px;
    }

    a {
        text-decoration: underline;
    }

    .post-content {
        margin-bottom: $space * 1.5;
    }

    .warning {
        background-color: hsl(0, 100%, 95%);
        border-left: 5px solid hsl(0, 100%, 90%);
        border-radius: 0 5px 5px 0;
        font-style: italic;
        margin-bottom: $space;
        padding: $space/2 15px;

        p {
            font-style: italic;
        }

        p:last-child {
            margin: 0;
        }

        p:first-child:before {
            content: "⚠️  ";  //Warning emoji (can't see it inthe terminal font)
        }
    }

    footer {
        font-size: smaller;
        margin-bottom: $space * 2;
    }
}

a {
    color: hsl(330, 100%, 50%);
    text-decoration: none;
    &:hover { color: orange; }
}

p {
    margin-bottom: $space;
}

blockquote, ul, ol, dl, figure, %vertical-rhythm {
}

@media screen and (min-width: 751px) {
    p, #contents {
    }
}

/* Lists */
ul, ol {
    margin-left: $space;
    margin-bottom: $space;
}

/* Images */
img {
    max-width: 100%;
    vertical-align: middle;
}

/* Code formatting */
pre, code {
    font-family: "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: normal;
}

/* Code using backticks */
p code, li code {
    background-color: #fff9c9;
    border: 1px solid orange;
    border-radius: 3px;
    padding: 3px 5px;
}

pre {
    border-radius: 0 5px 5px 0;
    background-color: #e9e9ff;
    border-left: 5px solid #cfcfff;
    padding: $space/2 15px;
    margin-bottom: $space;
    overflow-x: auto;
    line-height: 25px;
}

blockquote {
    background-color: #c9ffe9;
    border-radius: 0 5px 5px 0;
    border-left: 5px solid #69cf99;
    padding: 0 $space/2;
    margin-bottom: $space;

    p {
        font-style: italic;
        margin-bottom: $space;
    }

    p:last-child {
        margin: 0;
    }

    p:first-child:before {
        content: "\201C  ";
        font-size: 60px;
        position: relative;
        top: 20px;
        line-height: 0%;
        color: #7a7a7a;
        padding-right: 5px;
    }

    cite {
        font-size: smaller;
        font-style: normal;
        color: #696;
        line-height: 100%;
    }
}

.video-container {
    background-color: black;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-top: $space;
    margin-bottom: $space;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**
 * Wrapper
 */
.wrapper {
    @extend %clearfix;
    margin-left: auto;
    margin-right: auto;
    max-width: $content-width;
    padding-right: $space * 2;
    padding-left: $space * 2;
    @include media-query($on-palm) {
        padding-right: $space;
        padding-left: $space;
    }
}

/* Clearfix */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        path {
            fill: #444;
        }
    }
}

.wide-logos {
    float: right;
    margin-left: $space;
    @include media-query($on-palm) {
        /* It's not wide enough to show these */
        display: none;
    }
}
