---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "pygments";
@charset "utf-8";

$space: 25px;
$content-width: 800px;
$on-palm: 600px;

// Colors
$blockquote: hsl(148, 52, 60);
$code: hsl(320, 8.1, 15);
$inlinecode: hsl(53, 100, 89);
$nav: hsl(266, 100, 32);

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

/**
 * Wrapper
 */
.wrapper {
    @extend %clearfix;
    margin-left: auto;
    margin-right: auto;
    max-width: $content-width;
    padding-right: $space * 2;
    padding-left: $space * 2;
    @include media-query($on-palm) {
        padding-right: $space;
        padding-left: $space;
    }
}

/* Clearfix */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/* Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fefefe;
}

nav {
    background-color: black;
    box-shadow: 0 5px 5px -2px #999;
    text-align: right;
    padding: 10px 0 2px;
    .logo {
        @extend .wrapper;
        img {
            height: 30px;
        }
    }
}

.title-text {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.527999997138977px;
    line-height: 130%;
}

.bodytext {
    color: rgb(41, 41, 41);
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: 400;
    letter-spacing: -0.06300000101327896px;
    line-height: 32px;
}

.linktext {
    color: rgb(71, 0, 163);
    text-decoration: underline;
    &:hover { color: orange; }
}

#categories {
    padding-top: $space;
    text-align: center;
    margin: 0 $space $space $space;
    a {
        color: red;
    }
}

main {

    #post-list {
        @extend .wrapper;

        h1 {
            @extend .title-text;
            margin-bottom: $space / 1.5;
            text-align: center;
        }

        table {
            @extend .bodytext;
            border-collapse: collapse;
            padding: 0;
            margin-bottom: $space;

            td {
                padding-bottom: 10px;
                vertical-align: top;
                a {
                    @extend .linktext;
                }
            }

            td.date {
                text-align: right;
                font-size: 0.9em;
                white-space: nowrap;
            }

            td span {
                padding-right: $space / 2;
            }
        }
    }

    article {

        header {
            h1 {
                @extend .title-text;
                margin-top: $space * 2;
                margin-bottom: $space / 2;

                @include media-query($on-palm) {
                    margin-top: $space * 1.5;
                    font-size: 32px;
                    line-height: 40px;
                }
            }

            .post-meta {
                font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
                font-size: 14px;
                color: #444;
                a { color: #444; text-decoration: none; }
                margin-bottom: $space * 1.5;
                @include media-query($on-palm) {
                    margin-bottom: $space;
                }
            }
        }

        #intro {
            @extend .bodytext;
            margin-bottom: $space;
        }

        #intro p {
            margin-bottom: 0;
            font-weight: bolder;
            background: linear-gradient(104deg, rgba(130, 255, 173,0) 0.9%, rgba(130, 255, 173,1.25) 2.4%, rgba(130, 255, 173,0.5) 5.8%, rgba(130, 255, 173,0.1) 93%, rgba(130, 255, 173,0.7) 96%, rgba(130, 255, 1732,0) 98%), linear-gradient(183deg, rgba(130, 255, 173,0) 0%, rgba(130, 255, 173,0.3) 7.9%, rgba(130, 255, 173,0) 15%);
            padding: 0.6em 13.7px;
        }

        a {
            @extend .linktext;
        }

        p {
            @extend .bodytext;
            margin-bottom: $space;
            -webkit-font-smoothing: antialiased;
        }

        ul, ol {
            @extend .bodytext;
            margin-bottom: $space;
            margin-left: $space * 1.5;
            li {
                margin-bottom: 0;
            }
            :last-child {
                margin-bottom: 0;
            }
        }

        h2 {
            font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: $space * 1.5 0 $space  0;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            letter-spacing: normal;
        }

        h3 {
            margin: $space * 1.5 0 $space 0;
            font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 19px;
            font-style: normal;
            font-weight: 500;
            letter-spacing: normal;
            line-height: 22px;
        }

        img {
            max-width: 100%;
            vertical-align: middle;
        }

        .warning {
            margin-bottom: $space;

            p {
                font-style: italic;
            }

            p:last-child {
                margin: 0;
            }

            p:first-child:before {
                content: "⚠️  ";  //Warning emoji (can't see it inthe terminal font)
                margin-right: 5px;
            }
        }

        pre, code {
            font-family: "Source Code Pro", "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
            font-size: 16px;
            font-stretch: normal;
            font-style: normal;
            font-variant-caps: normal;
            font-weight: normal;
        }

        /* Code using backticks */
        p code, li code {
            background-color: $inlinecode;
            border: 1px solid desaturate(adjust-hue(darken($inlinecode, 30%), -15%), 10%);
            border-radius: 3px;
            padding: 3px 5px;
        }

        .highlight {
            border-radius: 5px;
        }

        pre.highlight {
            background-color: $code;
            line-height: 160%;
            margin-bottom: $space;
            overflow-x: auto;
            padding: $space/2 15px;
        }

        blockquote {
            padding-top: $space;
            margin-bottom: $space;

            p {
                font-style: italic;
                margin-bottom: $space;
                margin: 0;
            }

            p:first-child:before {
                content: "\201C  ";
                font-size: 60px;
                position: relative;
                top: 20px;
                line-height: 0%;
                color: darken($blockquote, 40%);
                padding-right: 5px;
            }

            cite {
                font-size: smaller;
                font-style: normal;
                color: #666;
                text-align: right;
                display: block;
            }
        }

        .video-container {
            background-color: black;
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px;
            height: 0;
            overflow: hidden;
            margin-top: $space;
            margin-bottom: $space;
        }

        .video-container iframe, .video-container object, .video-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .icon {
            > svg {
                display: inline-block;
                width: 16px;
                height: 16px;
                vertical-align: middle;
                path {
                    fill: #444;
                }
            }
        }

        .wide-logos {
            float: right;
            margin-left: $space;
            @include media-query($on-palm) {
                /* It's not wide enough to show these */
                display: none;
            }
        }

        footer {
            margin-bottom: $space * 2;
        }
    }

}

